.headerText {
  color: #00796B;
}
.gameName {
  margin-top: 40px;
}
.letterBlock {
  width: 50px;
  height: 50px;
  border: solid 1px;
  border-color: grey;
}
.gameboard {
  border: double 5px;
  border-color:  grey;
  border-radius: 5px;
}
.logo {
  height: 180px;
  margin-bottom: 20px;
}
.letterBlock {
  border-color: grey !important;
}
.gameControls {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
}
.gameInput {
  margin-left: 40px;
  margin-right: 50px;
}
.textSize {
  /* height: 50px;
  width: 80px; */
}
